<% if(message.length > 0){ %>
  <p class='warn'><%= message %></p>
<% } %>
  <div class="containerForm">
    <h1>Sign Up</h1>
      <form class="signup-form" method="POST" action="/sign-up" >
        <input type="text" id="fname" name="name" placeholder="Full Name">
        <input type="email" id="fname" name="email" placeholder="Email Address">
        <input type="password" id="lname" name="password" placeholder="Password">
        <!-- <input type="password" id="lname" name="password" placeholder="Confirm Password"> -->
        <input type="submit" value="Sign Up">
      </form>
      <p>Already have an account? Click <a href="/login">here</a> to login</p>
    </div>
